/* Imports */
@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Reggae+One&family=Syncopate:wght@700&display=swap");

/* Resets */
* {
  box-sizing: border-box;

  /* Colors */
  --background-color: #788eff;
  --text-light: #eaeaea;

  /* Typography */
  font-family: "Syncopate", "Reggae One", sans-serif;
  text-transform: uppercase;

  /* Dimensions */
  --base-d: 1rem;
}

body {
  overflow-x: hidden;
  min-height: 100vh;

  background: var(--background-color);
}

body,
main {
  display: flex;
  flex-direction: column;
}

body main,
main > * {
  flex-grow: 1;
}

footer {
  margin: var(--base-d);

  color: var(--text-light);
}

a {
  color: var(--text-light);
  text-decoration: none;
}

a:visited {
  color: var(--text-light);
}

header > nav > ul {
  display: flex;

  padding: 0;

  list-style: none;
}

header > nav > ul > li {
  margin: auto calc(var(--base-d) / 2);
}

/* Styles */
.title {
  margin: var(--base-d);
  margin-bottom: calc(var(--base-d) * 2);

  color: var(--text-light);
}

.post__grid {
  margin: var(--base-d) auto;
  padding: calc(var(--base-d) * 2) 0;
  overflow: visible;

  width: 90%;

  display: grid;

  grid-auto-rows: auto;
  grid-template-columns: auto;

  gap: var(--base-d);
}

@media screen and (min-width: 576px) {
  .post__grid {
    grid-template-columns: repeat(2, auto);

    gap: calc(var(--base-d) * 2);
  }
}

@media screen and (min-width: 992px) {
  .post__grid {
    grid-template-columns: repeat(3, auto);
  }
}

@media screen and (min-width: 1200px) {
  .post__grid {
    grid-template-columns: repeat(4, auto);
  }
}

.post {
  position: relative;

  background: var(--text-light);

  margin: auto;
  padding: calc(var(--base-d) * 1.5);

  max-width: calc(var(--base-d) * 15);

  overflow-wrap: break-word;
  overflow: visible;
}

.post__link,
.post__link:visited {
  color: initial;
}

/* Inner Div Clips Content */
.post > div {
  overflow: hidden;
  text-overflow: ellipsis;

  max-height: calc(var(--base-d) * 10);
}

.page__container {
  margin: var(--base-d);
  padding: var(--base-d);
  background: var(--text-light);

  max-width: max-content;

  word-break: break-word;
}

.container {
  padding: 0 var(--base-d);
}

/* Responsive */
@media screen and (min-width: 576px) {
  .container {
    max-width: 60ch;
  }

  .page__container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 992px) {
  .title {
    margin: calc(var(--base-d) * 3);
  }

  footer {
    margin: calc(var(--base-d) * 3);
  }

  .page__container {
    margin: calc(var(--base-d) * 3);
    padding: calc(var(--base-d) * 2);
  }
}

/* Utilities */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}
