---
layout: layouts/base.njk
---
<section class="container mx-auto">
    <div class="page__container" style="background: {{ color }}; transform: rotate({{ (rotate - 0)/(360 - 0) * 10 }}deg);">
            {{ content | safe }}
    </div>
</section>