<div class="post__grid">
    {%- for post in collections.post -%}
    <article class="post" style="background: {{post.data.color}}; border-radius: {{post.data.curve}}px;transform: rotate({{post.data.rotate}}deg);"><div>
        <div>{{ post.templateContent | safe }}</div>
    </div></article>
    {%- endfor -%}
</div>